{% extends 'bootstrap/base.html' %}
{% import "bootstrap/utils.html" as utils %}

{% block styles %}
  {{super()}} 
  <link rel="stylesheet" href="{{url_for('static', filename='fontawesome/css/all.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block title %}
  Welcome to the Downloader
{% endblock %}

{% block content %}
  <div class="container">
    {% block app_content %}{% endblock %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script src="{{ url_for('static', filename='js/nanobar-master/nanobar.js') }}"></script>
{% endblock %}
