{% extends "base.html" %}

{% block app_content %}

<header>
  <div class="center">    
    <i id="bounce" class="fas fa-file-download"></i>
    <h1 id="title">Download Report for </h1>
    <div id="progress">
      <div class="progress_report">
        <div id="progress_bar"></div>
        <div id="percentage"></div>
        <div id="task-desc"></div>
        <div id="filename">&nbsp;</div>
      </div>
    </div>    
    <p class="select-report-title">Which report would you like to download? </p>
    <button class="btn download-button" onclick="download_report(6);">Long Report</button>
    <button class="btn download-button" onclick="download_report(3);">Short Report</button>
   </div>
</header>

<div class="lower-part">
  <!--  bouncing arrow at left-bottom corner to make 
        user aware of downloaded excel-file in browser -->
  <div class="arrow-down"></div>
</div>

{% endblock %}